<div class = "footer" style="min-height: 200px">
<dl id="icons">

  <dt class="twitter"><a target="blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a></dt>

  <dt class="instagram"><a target="blank" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></dt>

  <dt class="facebook"><a target="blank" href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a></dt>

</dl>

</div>

