<div class = "yellow-wrapper">
  <div class = "container">
    <h1>Are you looking for a TEST
      <span class="typer" id="main" data-words="book?" data-colors="black" data-delay="100" data-deleteDelay="1000"></span>
      <span class="cursor" data-owner="main"></span>
    </h1>
    <%= form_tag books_path, method: :get, class: "content" do %>
      <%= text_field_tag :query,
      params[:query],
      class: "input",
      placeholder: ""
      %>
      <button type="reset" class="search"></button>
    <% end %>
    <h2 id="full-list">
      <%= link_to books_path do %>
        <i class="fas fa-list-ul"></i>
      <% end  %>
    </h2>
  </div>
</div>
