.container-show{
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 90px;
  margin-right: 90px;
  padding: 40px;
  overflow: hidden;
  background: white;
  display: flex;
  vertical-align: center;
  position:relative;
  border: 1px solid #dbdbdb;
}


.card-show-left img {
  height: 100%;
  width: 360px;
  object-fit: cover;
  padding: 20px;
  padding-right: 30px;
}

.card-show-right {
  padding: 20px;
}
.card-show-right h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: bold;
  margin: 0px;
  margin-bottom: 20px;
}
.card-show-right h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: italic;
  margin: 0px;
  padding: 0px;
}

.card-show-right h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

.card-show-right p {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.btn-flat {
  margin-top: 20px;
  position: absolute;
  bottom: 28px;
  right: 60px;
  padding: 8px 24px;
  border-radius: 4px;
  background: #FCE218;
  transition: background 0.3s ease;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: #474747;
}

// .btn .btn-flat a {
//   !important;
//   color: #474747 !important;
// }

.btn-flat:hover {
  background-color: #e2ca14 !important;
}

.card-index {
  position: relative;
}


.btn-accept {
  position: absolute;
  top: 8px;
  left: -150px;
  background-color: #5CC593;
  color: #474747;
  display: inline-block;
  height: 25px;
  width: 80px;
  letter-spacing: 0.3em;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  font-weight: 500;
  font-color: white;
  text-transform: uppercase;
  color: white;
  background-color: #3CD80E;
  cursor: pointer;
  outline: none;

}

.btn-reject {
  position: absolute;
  top: -54px;
  left: -32px;
  font-color: white;
  display: inline-block;
  height: 25px;
  width: 80px;
  letter-spacing: 0.3em;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  font-weight: 500;
  font-color: white;
  text-transform: uppercase;
  color: white;
  background-color: #F1476A;
  cursor: pointer;
  outline: none;
}


